* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main {
    max-width: 800px;
    width: 80%;
    height: 500px;
    border: solid black 2px;
    display: flex;
}

.calculations {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.calcField {
    flex-grow: 0;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    font-size: 18px;
}

.keys {
    display: flex;
    border: solid red 2px;
    flex-grow: 1;
}

.left_keys div div,
.right_keys div {
    border: solid darkgrey 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.left_keys {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.left_keys div {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
}

.right_keys {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

#close_par {
    flex-grow: 1;
}

#minus {
    flex-grow: 1;
}

#plus {
    flex-grow: 2.83;
}

#enter {
    flex-grow: 2.83;
}

#zero {
    flex-grow: 2.05;
}

.history {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history h1 {
    margin-bottom: 11px;
}

.history button {
    margin-bottom: 8px;
}

#calc_history {
    width: 100%;
    flex-grow: 1;
    background-color: white;
    border: solid red 2px;
    overflow-y: scroll;
    padding: 10px;
}

.history_entry {
    margin: 5px;
    padding: 5px;
    border: solid darkgrey 1px;
}